@import url('https://fonts.googleapis.com/css2?family=Mitr&family=Mochiy+Pop+One&family=Paytone+One&display=swap');

/* todo decide fonts */

:root {
  --off-white: #fffaf7;
  --light: #efece3;
  --dark: #978661;
  --med: #c9c0a3;
  --off-black: #0f0a04;
  --headings: 'Paytone One', sans-serif;
  --content: 'Mitr', sans-serif;
}

/* ------------------------- resets */

* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a,
a * {
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

/* ------------------------- general */

html {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

body {
  color: var(--off-black);
  background-color: var(--off-white);
  font-family: var(--content);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* ------------------------- header */

header {
  background-color: var(--light);
}

h1 {
  margin-bottom: .8rem;
}

header .tag-line {
  padding: .8rem 0;
  background-color: var(--med);
  text-align: center;
}

header h2 {
  font-size: 1.2rem;
}

header img {
  height: 5rem;
}

/* ------------------------- main */

main {
  padding: 2rem;
}

main > .flex {
  justify-content: space-evenly;
}

main h2 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: .6rem;
}

/* ------------------------- index */

.amazon-link-container {
  margin-top: 1.6rem;
}

#amazon-link {
  border: 2px solid var(--dark);
  border-radius: 5px;
  padding: 1.2rem;
  text-align: center;
}

.index-main picture {
  margin-top: 2rem;
}

/* ------------------------- back to top */

#back-to-top {
  position: fixed;
  bottom: 10px;
  right: 50px;
  visibility: hidden;
}

#back-to-top.active {
  visibility: visible;
}

/* ------------------------- footer */

footer {
  color: var(--dark);
  background-color: var(--med);
  text-align: center;
}

/* ------------------------- media queries */

@media screen and (min-width: 768px) {
  main > .flex > * {
    flex-basis: 35%;
  }
}